
$primary-color: rgba(46, 46, 49, 0.88);
$primary-color-hover: lighten($primary-color, 6%);

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$gray-light: #ece9e9;
